<body style="background-color: rgb(39, 1, 71);">
    
    <div class="container-fluid hero-section">
        <div class="row align-items-center">
          <div class="col-md-6">
            <img [src]="profile" alt="Profile Picture" class="rounded-circle">
          </div>
          <div class="col-md-6">
            <h1 style="color: aliceblue;">Mahesh Kumar C</h1>
            <h2 style="color: aliceblue;">Cyber Security Researcher</h2>
            <p style="color: aliceblue;">Brief bio about myself</p>
            <button class="btn btn-primary">Contact Me</button>
          </div>
        </div>
      </div>
</body>
  